## **Missing Value**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Feature_Engineering/all_cities_cleaned.csv')

In [3]:
df.head()

,index,BHK,sector,price,price_persqft,SuperArea,floor,Furnishing,facing,Car_Parking,Bathroom,Balcony,overlooking,city
0,0,3,Panathur,2.25,13966.0,1611.0,10+,Unfurnished,East,available,2,1,Garden/Park,Bangalore
1,1,3,Panathur,2.13,12909.0,1650.0,10+,Unfurnished,East,available,3,2,Garden/Park,Bangalore
2,2,3,Thanisandra,1.37,9648.0,1420.0,8,Unfurnished,North - East,available,2,1,"Garden/Park, Pool",Bangalore
3,3,3,Panathur,1.62,11000.0,1473.0,5,Unfurnished,North - East,available,2,1,"Garden/Park, Main Road",Bangalore
4,4,4,Whitefield,3.93,15023.0,2616.0,10+,Unfurnished,East,available,3,2,Garden/Park,Bangalore

In [4]:
# check for missing values
df.isnull().sum()

index               0
BHK                 0
sector              0
price               0
price_persqft     234
SuperArea          45
floor             451
Furnishing         77
facing           2584
Car_Parking         0
Bathroom           40
Balcony          1973
overlooking      3125
city                0
dtype: int64

In [5]:
# fill temporary values in missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7440 entries, 0 to 7439
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          7440 non-null   int64
 1   BHK            7440 non-null   object
 2   sector         7440 non-null   object
 3   price          7440 non-null   float64
 4   price_persqft  7206 non-null   float64
 5   SuperArea      7395 non-null   float64
 6   floor          6989 non-null   object
 7   Furnishing     7363 non-null   object
 8   facing         4856 non-null   object
 9   Car_Parking    7440 non-null   object
 10  Bathroom       7400 non-null   object
 11  Balcony        5467 non-null   object
 12  overlooking    4315 non-null   object
 13  city           7440 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 813.9+ KB

In [6]:
df[df['price_persqft'].isnull()]

,index,BHK,sector,price,price_persqft,SuperArea,floor,Furnishing,facing,Car_Parking,Bathroom,Balcony,overlooking,city
699,699,2,others,0.75,NaN,NaN,2,Semi-Furnished,NaN,available,2,1,NaN,Bangalore
1519,79,3,others,1.25,NaN,1270.0,2,Unfurnished,South,not sure,3,3,NaN,chennai
1538,98,2,others,0.51,NaN,734.0,2,Unfurnished,South,not sure,2,2,NaN,chennai
1573,133,2,Padur,0.62,NaN,1268.0,7,Furnished,East,available,2,2,Garden/Park,chennai
1578,138,2,others,0.90,NaN,920.0,2,Semi-Furnished,NaN,not sure,2,1,NaN,chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5817,1377,2,others,0.55,NaN,1000.0,4,Unfurnished,East,not sure,2,1,"Garden/Park, Main Road",Hydrabad
5917,1477,2,others,0.70,NaN,1162.0,4,Furnished,East,available,2,2,Garden/Park,Hydrabad
5924,1484,3,others,1.50,NaN,1600.0,1,Furnished,East,not sure,3,3,NaN,Hydrabad
5928,1488,3,Gachibowli,1.96,NaN,2009.0,10+,Unfurnished,East,available,3,NaN,"Garden/Park, Main Road, Pool",Hydrabad
5929,1489,2,others,0.55,NaN,1071.0,0,Furnished,NaN,not sure,2,2,NaN,Hydrabad

In [7]:
cat = df.select_dtypes(include = 'object').columns.tolist()

In [8]:
num = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()

In [9]:
# for i in cat:
#     df[i].fillna(df[i].mode(), inplace = True)

In [10]:
# for i in num:
#     df[i].fillna(df[i].mean(), inplace = True)

In [11]:
from sklearn.impute import KNNImputer
knn = KNNImputer(n_neighbors = 5)

In [12]:
knn.fit_transform(df[num])

array([[0.0000e+00, 2.2500e+00, 1.3966e+04, 1.6110e+03],
       [1.0000e+00, 2.1300e+00, 1.2909e+04, 1.6500e+03],
       [2.0000e+00, 1.3700e+00, 9.6480e+03, 1.4200e+03],
       ...,
       [1.4970e+03, 2.7500e+00, 2.5114e+04, 1.0950e+03],
       [1.4980e+03, 4.1500e+00, 3.1923e+04, 1.3000e+03],
       [1.4990e+03, 6.6000e-01, 1.6500e+04, 4.0000e+02]])

In [13]:
df[num] = knn.fit_transform(df[num])

In [14]:
df.isnull().sum()

index               0
BHK                 0
sector              0
price               0
price_persqft       0
SuperArea           0
floor             451
Furnishing         77
facing           2584
Car_Parking         0
Bathroom           40
Balcony          1973
overlooking      3125
city                0
dtype: int64

In [15]:
df['price_persqft'].iloc[699]

6203.0

In [16]:
for i in cat:
    df[i].fillna(df[i].mode()[0], inplace = True)

In [17]:
df.isnull().sum()

index            0
BHK              0
sector           0
price            0
price_persqft    0
SuperArea        0
floor            0
Furnishing       0
facing           0
Car_Parking      0
Bathroom         0
Balcony          0
overlooking      0
city             0
dtype: int64

In [18]:
df.to_csv('clean_data.csv', index = False)