In [1613]:
import pandas as pd
import numpy as np
import re

In [1614]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [1615]:
df = pd.read_csv('mumbai.csv')

In [1616]:
df.head()

,Unnamed: 0,bhk,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Lodha Aura, Wadala, M...",4.35 Cr,1115 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Lodha Aura,NAN,NAN,3,NAN,NAN,Poss. by Dec '26
1,1,"1 BHK Flat for Sale in The Palace Tower, Vin...",67 Lac,399 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,The Palace Tower,NAN,NAN,2,NAN,NAN,Poss. by Dec '28
2,2,"2 BHK Flat for Sale in Godrej Reserve, Kandi...","2.25 Cr20,872 per sqft",770 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Godrej Reserve,NAN,1 Covered,2,NAN,NAN,Poss. by Jun '30
3,3,"2 BHK Flat for Sale in Northern Hills, Dahis...",1.80 Cr,623 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Northern Hills,NAN,1 Covered,2,NAN,NAN,Poss. by Dec '26
4,4,"1 BHK Flat for Sale in AV Pride, Nalasopara ...",33 Lac,362 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,AV Pride,NAN,NAN,2,NAN,NAN,Poss. by Dec '28

In [1617]:
BHK = df['bhk'].str.split(' ').str.get(0)

In [1618]:
sector = df['bhk'].str.strip().str.replace('3 BHK ','').str.replace('1 BHK ','').str.replace('2 BHK ','').str.replace('4 BHK ','').str.replace('5 BHK ','').str.replace('6 BHK ','').str.replace('Flat  for Sale in  ','').str.replace('Apartment for Sale in ','').str.replace('Builder Floor for Sale in ','').str.replace(', Mumbai','').str.replace(' Mumbai','').str.strip().str.split(',').str.get(-1)

In [1619]:
df.insert(2, 'BHK', BHK)

In [1620]:
df.insert(3, 'Sector', sector)

In [1621]:
df['Sector'] = df['Sector'].str.strip()

In [1622]:
df['Sector'].value_counts()

Sector
Mulund West                                              50
Kandivali East                                           43
Powai                                                    37
Borivali East                                            35
Andheri West                                             35
Malad West                                               33
Kandivali West                                           31
Chembur                                                  31
Malad East                                               27
Andheri East                                             27
Prabhadevi                                               25
Mira Road East                                           25
Goregaon West                                            24
Virar West                                               23
Ghatkopar East                                           22
Borivali West                                            20
Worli                                                    19
Bhandup West                                             18
Wadala East                                              16
Mahalakshmi                                              16
Bandra West                                              15
Kanjurmarg East                                          15
Santacruz West                                           15
Mulund East                                              14
Mira Road Area                                           13
Vile Parle East                                          13
Chandivali                                               13
Dahisar East                                             13
Kanjurmarg West                                          13
Bandra East                                              12
Virar                                                    11
Ghatkopar West                                           11
Juhu                                                     11
Chembur East                                             10
Byculla                                                  10
Jogeshwari West                                          10
Wadala                                                   10
Khar West                                                 9
Shivaji Park                                              9
Ulhasnagar                                                8
Goregaon East                                             8
Bhayandar West                                            8
Vasai West                                                7
Dadar West                                                7
Virar East                                                7
Matunga East                                              7
Santacruz East                                            7
Parel                                                     7
Mahim                                                     7
Lokhandwala Complex Andheri West                          7
Vile Parle West                                           6
Naigaon East                                              6
Tilak Nagar Chembur                                       6
Lokhandwala Township Kandivali East                       6
Sewri                                                     6
Mumbai                                                    5
Versova Andheri West                                      5
Colaba                                                    5
Shell Colony                                              5
Mira Bhayandar                                            5
Matunga                                                   5
Upper Govind Nagar                                        5
Vasai East                                                5
Hiranandani Gardens                                       5
Sion East                                                 5
Vinay Nagar                                               5
Vikhroli                                                  5
Vasai                                                     5
Akurli Nagar                                              5
Nalasopara West                                           5
Link Road                                                 4
Kurla West                                                4
Nalasopara East                                           4
Mira Road                                                 4
Jogeshwari Vikhroli Link Road                             4
Dattapada                                                 4
Studio Malad West                                         4
Nahur East                                                4
Shimpoli                                                  4
Worli Sea Face                                            4
Bhandup East                                              4
Grant Road                                                3
Amrut Nagar Ghatkopar West                                3
Thakur Complex                                            3
Shanti Nagar Mira Road                                    3
DN Nagar                                                  3
Linking Road                                              3
Chakala                                                   3
Studio Virar East                                         3
Rajendra Nagar                                            3
Malabar Hill                                              3
Bhayandar East                                            3
Veera Desai Road                                          3
Mahavir Nagar Kandivali West                              3
Nehru Nagar Kurla                                         3
Dadar East                                                3
Swastik Park                                              3
Studio Kurla West                                         3
Jawahar Nagar Goregaon West                               3
Nala Sopara                                               3
Motilal Nagar 1                                           3
Bandra Kurla Complex                                      3
Pedder Road                                               3
Dahanukar Wadi                                            3
Liberty Garden                                            3
Borivali                                                  3
Evershine Nagar                                           3
Ramdev Park                                               3
IC Colony                                                 3
Gulmohar Colony                                           2
Bangur Nagar                                              2
Haji Ali                                                  2
Vile Parle                                                2
Park Road                                                 2
Sundervan Complex                                         2
Mahim West                                                2
Marve Road                                                2
Juhu Scheme                                               2
Pleasant Park                                             2
Goregaon                                                  2
Mulund                                                    2
JVPD Scheme                                               2
Dattani Park                                              2
Kalina                                                    2
Matunga West                                              2
Thakurli                                                  2
Babrekar Nagar Kandivali West                             2
Breach Candy                                              2
Adarsh Nagar Malad West                                   2
Bandra                                                    2
Western Express Highway                                   2
Grant Road East                                           2
Chira Bazaar                                              2
JB Nagar                                                  2
Studio Bhayandar East                                     2
Sector 9 Charkop                                          2
Juhu Versova Link Road                                    2
Oshiwara                                                  2
Siddharth Nagar Borivali East                             2
Lower Parel West                                          2
Rustomjee Global City                                     2
Nana Chowk Area                                           2
Byculla West                                              2
MIDC Industrial Estate                                    2
Shantaram Talao                                           2
Dahisar West                                              2
Jogeshwari East                                           2
Sion                                                      2
Kurla East                                                2
Chinchpokli                                               2
Magathane                                                 2
Chembur West                                              2
Jay Prakash Nagar Goregaon East                           2
Vakola                                                    2
Jankalyan Nagar                                           2
Senapati Bapat Marg                                       2
Mazgaon                                                   2
Lower Parel                                               2
Deonar Chembur                                            2
Gokuldham Colony Goregaon East                            2
Kurar Village                                             2
Pant Nagar                                                2
Hindu Colony Dadar East                                   2
Tagore Nagar                                              2
Parbat Nagar                                              2
Wadala West                                               2
Opera House                                               1
Bhiwandi                                                  1
Studio Vazira                                             1
Anand Nagar Bhayandar East                                1
dharti heights parel dadar east                           1
Gamdevi                                                   1
Bhavani Nagar Marol                                       1
wagle estate                                              1
Dongri                                                    1
Seven Bungalows                                           1
Shripal Apt                                               1
Pandit DinDayal Uphadayay Marg                            1
Manpada Road Dombivali-E                                  1
Gokul Village 3 CHS Limited                               1
Kalwa Thane                                               1
Anuj apartment                                            1
Satsang CHSL                                              1
Jangal Mangal Road                                        1
Dongarpada                                                1
Marol Maroshi Road                                        1
Malad                                                     1
Tarun Bharat Society                                      1
Shastri Nagar Andheri West                                1
Ekta Nagar Kandivali West                                 1
Byculla East                                              1
SV Patel Nagar Andheri West                               1
transcon triumph tower 3                                  1
Napean Sea Road                                           1
Sarvodaya Nagar Mulund West                               1
Mitha Nagar                                               1
Mumbai Central                                            1
Kalpak Estate                                             1
Studio Prabhadevi                                         1
Vishwakarma Nagar                                         1
Panvel                                                    1
Samata Nagar Thakur Village                               1
Dombivli                                                  1
Taloja Bypass Road                                        1
laxmi leela                                               1
Pawan Baug                                                1
Durga Nagar Kandivali East                                1
Studio MHADA Colony Chunabhatti                           1
Studio Andheri East                                       1
Friends Colony Bhandup East                               1
Madhuban Township                                         1
Gokhale Road                                              1
Navkar City                                               1
Kurla                                                     1
Jagdusha Nagar                                            1
Near Gulmohar rd 10                                       1
mehul apartment                                           1
Sector 3 Shanti Nagar                                     1
Dhuru Wadi Dadar West                                     1
la-Sarena Andheri West                                    1
Penthouse for Sale in Bandra West                         1
Swami Samarth Nagar                                       1
Pestom Sagar Colony                                       1
Neighborhood Society                                      1
Mahatma Kabir Nagar                                       1
Lodha crown taloja                                        1
Irani Wadi                                                1
Manvelpada Virar East                                     1
chembur                                                   1
Geeta Nagar Mahim                                         1
Malwani Shree Ashtavinyak CHS                             1
Nagavara                                                  1
Shri Ram Kutir                                            1
crown taloja                                              1
Shailendra Nagar                                          1
Amboli                                                    1
richmond tower vasai west                                 1
Thane                                                     1
Mogra Village                                             1
Sikka Nagar                                               1
Samarpan chs Borivali west                                1
Mumbai Maharashtra                                        1
Studio Boisar                                             1
Kasaravadi                                                1
Majiwada                                                  1
Neelam Nagar Society                                      1
New Link Road                                             1
Bhandup (West)                                            1
Hay Bunder                                                1
Gavanpada Mulund East                                     1
Penthouse for Sale in Kandivali West                      1
Dockyard Road                                             1
Oswal Nagari                                              1
Tulsi Kalash near dilkalp college                         1
Sindhi Society Chembur                                    1
Bhakti Park                                               1
akash Jyoti                                               1
Gilbert Hill                                              1
Kapasi Cottage Bazar Road                                 1
Perry Road                                                1
Nirmal CHS                                                1
Antop Hill                                                1
Geeta Nagar Mira Road                                     1
Crystal Midtown 1                                         1
manpada                                                   1
tirthankar darshan                                        1
Studio Bhakti Park                                        1
Riddhi Garden                                             1
Studio                                                    1
Studio Nalasopara West                                    1
Bhandup                                                   1
Charni Road                                               1
MHADA Colony Mulund East                                  1
Sion West                                                 1
Dhanukar Wadi                                             1
Neelkanth darshan old panvel                              1
Kamla habitat .kalina . sunder nagar . Santacruz East     1
Studio Nala Sopara                                        1
Takshila Colony                                           1
Runwal Bliss                                              1
Chandresh Krishna society                                 1
Tejaswi apt                                               1
Ulwe                                                      1
Orlem                                                     1
AV CRYSTAL TOWER VASAI EAST                               1
Eros chs Kanjurmarg east                                  1
Fort                                                      1
Virar West.                                               1
dewa                                                      1
Padmavati Nagar Bolinj                                    1
parijat Mulund west                                       1
rosa mysthica hscl                                        1
Riddhi Siddhi CHS                                         1
Regency anantham                                          1
Amba Wadi Borivali                                        1
Airoli Navimumbai                                         1
Gauri Shankar Wadi No 2                                   1
Gorai 2                                                   1
Studio Shankarwadi Jogeshwari East                        1
NM Joshi Marg                                             1
Shivkrupa CHS                                             1
casario                                                   1
Studio Sir Jamshedji Jeejeebhoy Road                      1
Raj kamal                                                 1
Studio Nerul                                              1
Girgaon                                                   1
Vaishali Nagar Dahisar                                    1
Irla                                                      1
Kapadia Nagar                                             1
VN Purav Marg                                             1
Geeta Nagar Mira Road East                                1
Nensey Colony                                             1
Sajjan Wadi                                               1
Dindoshi                                                  1
Tambe Nagar                                               1
Santacruz                                                 1
NL Complex                                                1
Ashok Van                                                 1
Studio Ghatkopar West                                     1
Jeevan Nagar Azad Nagar 2                                 1
JP Road                                                   1
Ambedkar Nagar Kanjurmarg West                            1
Guru Nanak Nagar Chakala                                  1
ML Dahanukar Marg                                         1
Juhu Lane                                                 1
LODHA PALAVA CITY                                         1
Ayukta Breeze                                             1
Beverly Park                                              1
Sion Koliwada                                             1
Golden Nest Phase 1                                       1
Studio Mahim West                                         1
Gautam Nagar Malad East                                   1
Evershine City                                            1

In [1623]:
temp = df[df['Sector'].str.contains('Borivali')]

In [1624]:
temp['Sector'] = 'Borivali'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\4233691520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Borivali'

In [1625]:
temp['Sector'].value_counts()

Sector
Borivali    67
Name: count, dtype: int64

In [1626]:
index = temp['Unnamed: 0']

In [1627]:
df.iloc[index] = temp

In [1628]:
df['Sector'].value_counts()

Sector
Borivali                                                 67
Mulund West                                              50
Kandivali East                                           43
Powai                                                    37
Andheri West                                             35
Malad West                                               33
Kandivali West                                           31
Chembur                                                  31
Malad East                                               27
Andheri East                                             27
Mira Road East                                           25
Prabhadevi                                               25
Goregaon West                                            24
Virar West                                               23
Ghatkopar East                                           22
Worli                                                    19
Bhandup West                                             18
Wadala East                                              16
Mahalakshmi                                              16
Kanjurmarg East                                          15
Bandra West                                              15
Santacruz West                                           15
Mulund East                                              14
Mira Road Area                                           13
Kanjurmarg West                                          13
Vile Parle East                                          13
Chandivali                                               13
Dahisar East                                             13
Bandra East                                              12
Juhu                                                     11
Virar                                                    11
Ghatkopar West                                           11
Wadala                                                   10
Byculla                                                  10
Jogeshwari West                                          10
Chembur East                                             10
Khar West                                                 9
Shivaji Park                                              9
Bhayandar West                                            8
Ulhasnagar                                                8
Goregaon East                                             8
Lokhandwala Complex Andheri West                          7
Matunga East                                              7
Vasai West                                                7
Santacruz East                                            7
Virar East                                                7
Mahim                                                     7
Dadar West                                                7
Parel                                                     7
Lokhandwala Township Kandivali East                       6
Sewri                                                     6
Tilak Nagar Chembur                                       6
Naigaon East                                              6
Vile Parle West                                           6
Vasai                                                     5
Vikhroli                                                  5
Hiranandani Gardens                                       5
Mumbai                                                    5
Versova Andheri West                                      5
Upper Govind Nagar                                        5
Shell Colony                                              5
Matunga                                                   5
Nalasopara West                                           5
Sion East                                                 5
Vasai East                                                5
Mira Bhayandar                                            5
Akurli Nagar                                              5
Colaba                                                    5
Vinay Nagar                                               5
Worli Sea Face                                            4
Nahur East                                                4
Mira Road                                                 4
Studio Malad West                                         4
Link Road                                                 4
Dattapada                                                 4
Nalasopara East                                           4
Kurla West                                                4
Bhandup East                                              4
Jogeshwari Vikhroli Link Road                             4
Shimpoli                                                  4
Dadar East                                                3
Bandra Kurla Complex                                      3
Grant Road                                                3
Bhayandar East                                            3
Linking Road                                              3
Nehru Nagar Kurla                                         3
Pedder Road                                               3
Amrut Nagar Ghatkopar West                                3
Motilal Nagar 1                                           3
Swastik Park                                              3
Veera Desai Road                                          3
DN Nagar                                                  3
Ramdev Park                                               3
Mahavir Nagar Kandivali West                              3
Malabar Hill                                              3
IC Colony                                                 3
Rajendra Nagar                                            3
Chakala                                                   3
Evershine Nagar                                           3
Jawahar Nagar Goregaon West                               3
Shanti Nagar Mira Road                                    3
Dahanukar Wadi                                            3
Thakur Complex                                            3
Studio Kurla West                                         3
Nala Sopara                                               3
Liberty Garden                                            3
Studio Virar East                                         3
Rustomjee Global City                                     2
Wadala West                                               2
Thakurli                                                  2
Grant Road East                                           2
Mahim West                                                2
Tagore Nagar                                              2
Marve Road                                                2
Byculla West                                              2
Park Road                                                 2
Breach Candy                                              2
Chembur West                                              2
Bangur Nagar                                              2
Deonar Chembur                                            2
Vakola                                                    2
Babrekar Nagar Kandivali West                             2
Dattani Park                                              2
Sion                                                      2
Lower Parel                                               2
Kalina                                                    2
Goregaon                                                  2
Adarsh Nagar Malad West                                   2
JB Nagar                                                  2
Juhu Scheme                                               2
Juhu Versova Link Road                                    2
Vile Parle                                                2
Oshiwara                                                  2
Chira Bazaar                                              2
Sector 9 Charkop                                          2
Sundervan Complex                                         2
Haji Ali                                                  2
Lower Parel West                                          2
Parbat Nagar                                              2
Studio Bhayandar East                                     2
Dahisar West                                              2
Gulmohar Colony                                           2
Mazgaon                                                   2
Jankalyan Nagar                                           2
Hindu Colony Dadar East                                   2
JVPD Scheme                                               2
Matunga West                                              2
Western Express Highway                                   2
Senapati Bapat Marg                                       2
Magathane                                                 2
Jay Prakash Nagar Goregaon East                           2
Jogeshwari East                                           2
Chinchpokli                                               2
Kurla East                                                2
Bandra                                                    2
Pant Nagar                                                2
Mulund                                                    2
Kurar Village                                             2
Pleasant Park                                             2
Gokuldham Colony Goregaon East                            2
Shantaram Talao                                           2
MIDC Industrial Estate                                    2
Nana Chowk Area                                           2
dharti heights parel dadar east                           1
Bhavani Nagar Marol                                       1
Gamdevi                                                   1
Seven Bungalows                                           1
Anand Nagar Bhayandar East                                1
Marol Maroshi Road                                        1
Dongri                                                    1
wagle estate                                              1
Opera House                                               1
Manpada Road Dombivali-E                                  1
Bhiwandi                                                  1
Tejaswi apt                                               1
Ulwe                                                      1
Orlem                                                     1
AV CRYSTAL TOWER VASAI EAST                               1
Eros chs Kanjurmarg east                                  1
Riddhi Garden                                             1
Irani Wadi                                                1
Jangal Mangal Road                                        1
Studio Vazira                                             1
Pandit DinDayal Uphadayay Marg                            1
Gokul Village 3 CHS Limited                               1
Kalwa Thane                                               1
Satsang CHSL                                              1
Shripal Apt                                               1
Anuj apartment                                            1
Studio Andheri East                                       1
Malad                                                     1
Deonar Govandi East                                       1
Friends Colony Bhandup East                               1
Madhuban Township                                         1
Tarun Bharat Society                                      1
Shastri Nagar Andheri West                                1
Ekta Nagar Kandivali West                                 1
Byculla East                                              1
SV Patel Nagar Andheri West                               1
Upper Worli                                               1
transcon triumph tower 3                                  1
Napean Sea Road                                           1
Sarvodaya Nagar Mulund West                               1
Mitha Nagar                                               1
Mumbai Central                                            1
Kalpak Estate                                             1
Studio Prabhadevi                                         1
Vishwakarma Nagar                                         1
Panvel                                                    1
laxmi leela                                               1
Pawan Baug                                                1
Durga Nagar Kandivali East                                1
Near Gulmohar rd 10                                       1
Gokhale Road                                              1
Navkar City                                               1
Kurla                                                     1
Chandresh Krishna society                                 1
Studio MHADA Colony Chunabhatti                           1
Mahatma Kabir Nagar                                       1
Sector 3 Shanti Nagar                                     1
mehul apartment                                           1
Dhuru Wadi Dadar West                                     1
la-Sarena Andheri West                                    1
Penthouse for Sale in Bandra West                         1
Swami Samarth Nagar                                       1
Pestom Sagar Colony                                       1
Neighborhood Society                                      1
Jagdusha Nagar                                            1
Dhanukar Wadi                                             1
Runwal Bliss                                              1
Studio Boisar                                             1
New Link Road                                             1
Neelam Nagar Society                                      1
chembur                                                   1
Geeta Nagar Mahim                                         1
Malwani Shree Ashtavinyak CHS                             1
Nagavara                                                  1
Shri Ram Kutir                                            1
crown taloja                                              1
Shailendra Nagar                                          1
Amboli                                                    1
richmond tower vasai west                                 1
Thane                                                     1
Mogra Village                                             1
Bhandup                                                   1
Sikka Nagar                                               1
Bhandup (West)                                            1
Gilbert Hill                                              1
manpada                                                   1
Bhakti Park                                               1
Gavanpada Mulund East                                     1
Penthouse for Sale in Kandivali West                      1
Dockyard Road                                             1
Oswal Nagari                                              1
Tulsi Kalash near dilkalp college                         1
Sindhi Society Chembur                                    1
Hay Bunder                                                1
Crystal Midtown 1                                         1
akash Jyoti                                               1
Kapasi Cottage Bazar Road                                 1
Perry Road                                                1
Nirmal CHS                                                1
Antop Hill                                                1
Geeta Nagar Mira Road                                     1
Mumbai Maharashtra                                        1
Kasaravadi                                                1
Takshila Colony                                           1
Majiwada                                                  1
Girgaon                                                   1
Studio Shankarwadi Jogeshwari East                        1
dewa                                                      1
Virar West.                                               1
Fort                                                      1
Studio Nalasopara West                                    1
Govandi                                                   1
Charni Road                                               1
MHADA Colony Mulund East                                  1
Lodha crown taloja                                        1
Sion West                                                 1
Dombivli                                                  1
Neelkanth darshan old panvel                              1
Kamla habitat .kalina . sunder nagar . Santacruz East     1
Studio Nala Sopara                                        1
Studio Nerul                                              1
Raj kamal                                                 1
Studio Sir Jamshedji Jeejeebhoy Road                      1
Riddhi Siddhi CHS                                         1
tirthankar darshan                                        1
Manvelpada Virar East                                     1
Studio Bhakti Park                                        1
Studio                                                    1
parijat Mulund west                                       1
rosa mysthica hscl                                        1
Regency anantham                                          1
casario                                                   1
Airoli Navimumbai                                         1
Gauri Shankar Wadi No 2                                   1
Padmavati Nagar Bolinj                                    1
Gorai 2                                                   1
NM Joshi Marg                                             1
Shivkrupa CHS                                             1
Samata Nagar Thakur Village                               1
Dina Bama Estate                                          1
Taloja Bypass Road                                        1
Rambaug Powai                                             1
Gautam Nagar Malad East                                   1
Dr Ambedkar Road                                          1
Central Area                                              1
Evershine City                                            1
Worli Shivaji Nagar                                       1
Anjurdive                                                 1
Dongarpada                                                1
Golden Nest Phase 1                                       1
Sion Koliwada                                             1
Pandurang Wadi Goregaon East                              1
Bhabola                                                   1
Moti Nagar                                                1
Sindh Seva Samiti Nagar                                   1
Sagar Prasad Society                                      1
Studio Mahim West                                         1
Penthouse for Sale in Andheri West                        1
Reclamation                                               1
Mhada HIG Colony                                          1
Gopal Nagar                                               1
Gulmohar Road                                             1
Kannamwar Nagar 1                                         1
Nepean Sea Road                                           1
Willingdon Heights                                        1
Kalbadevi                                                 1
Rupa Nagar                                                1
Veera Desai Industrial Estate                             1
Sewri West                                                1
Studio Malad East                                         1

In [1629]:
temp = df[df['Sector'].str.contains('Ghatkopar')]

In [1630]:
temp['Sector'] = 'Ghatkopar'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\1844938423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Ghatkopar'

In [1631]:
temp = df[df['Sector'].str.contains('Parle')]

In [1632]:
temp['Sector'] = 'Vile Parle'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\2482399004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Vile Parle'

In [1633]:
temp = df[df['Sector'].str.contains('Mulund')]
temp['Sector'] = 'Mulund'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\4280879310.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Mulund'

In [1634]:
temp = df[df['Sector'].str.contains('Malad')]
temp['Sector'] = 'Malad'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\1811017507.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Malad'

In [1635]:
temp = df[df['Sector'].str.contains('Mira Road')]
temp['Sector'] = 'Mira Road'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\1254759731.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Mira Road'

In [1636]:
temp = df[df['Sector'].str.contains('Bandra')]
temp['Sector'] = 'Bandra'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\465753345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Bandra'

In [1637]:
temp = df[df['Sector'].str.contains('Goregaon')]
temp['Sector'] = 'Goregaon'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\1368710727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Goregaon'

In [1638]:
temp = df[df['Sector'].str.contains('Andheri')]
temp['Sector'] = 'Andheri'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\2118726882.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Andheri'

In [1639]:
temp = df[df['Sector'].str.contains('malad')]
temp['Sector'] = 'Malad'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\2594791114.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Malad'

In [1640]:
temp = df[df['Sector'].str.contains('Kanjurmarg')]
temp['Sector'] = 'Kanjurmarg'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\3635102409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Kanjurmarg'

In [1641]:
temp = df[df['Sector'].str.contains('Chembur')]
temp['Sector'] = 'Chembur'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\2880977716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Chembur'

In [1642]:
temp = df[df['Sector'].str.contains('Kandivali')]
temp['Sector'] = 'Kandivali'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\64649656.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Kandivali'

In [1643]:
temp = df[df['Sector'].str.contains('Virar')]
temp['Sector'] = 'Virar'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\1951037819.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Virar'

In [1644]:
temp = df[df['Sector'].str.contains('Wadala')]
temp['Sector'] = 'Wadala'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\58808755.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Wadala'

In [1645]:
temp = df[df['Sector'].str.contains('Wadala')]
temp['Sector'] = 'Wadala'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\58808755.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Wadala'

In [1646]:
df[df['Sector'].str.contains('Juhu')].shape

(16, 19)

In [1647]:
df['Sector'].value_counts()

Sector
Kandivali                                                88
Andheri                                                  80
Malad                                                    72
Mulund                                                   71
Borivali                                                 67
Chembur                                                  52
Mira Road                                                48
Virar                                                    46
Goregaon                                                 45
Powai                                                    37
Ghatkopar                                                37
Bandra                                                   35
Kanjurmarg                                               30
Wadala                                                   28
Prabhadevi                                               25
Vile Parle                                               22
Worli                                                    19
Bhandup West                                             18
Mahalakshmi                                              16
Santacruz West                                           15
Dahisar East                                             13
Chandivali                                               13
Juhu                                                     11
Byculla                                                  10
Jogeshwari West                                          10
Shivaji Park                                              9
Khar West                                                 9
Bhayandar West                                            8
Ulhasnagar                                                8
Parel                                                     7
Santacruz East                                            7
Dadar West                                                7
Matunga East                                              7
Vasai West                                                7
Mahim                                                     7
Naigaon East                                              6
Sewri                                                     6
Nalasopara West                                           5
Vikhroli                                                  5
Vasai                                                     5
Hiranandani Gardens                                       5
Mira Bhayandar                                            5
Vinay Nagar                                               5
Akurli Nagar                                              5
Vasai East                                                5
Shell Colony                                              5
Colaba                                                    5
Sion East                                                 5
Upper Govind Nagar                                        5
Mumbai                                                    5
Matunga                                                   5
Link Road                                                 4
Worli Sea Face                                            4
Shimpoli                                                  4
Nahur East                                                4
Nalasopara East                                           4
Kurla West                                                4
Dattapada                                                 4
Jogeshwari Vikhroli Link Road                             4
Bhandup East                                              4
Pedder Road                                               3
Bhayandar East                                            3
Rajendra Nagar                                            3
DN Nagar                                                  3
Chakala                                                   3
Nehru Nagar Kurla                                         3
Dadar East                                                3
Liberty Garden                                            3
Grant Road                                                3
Malabar Hill                                              3
Thakur Complex                                            3
Evershine Nagar                                           3
Dahanukar Wadi                                            3
Ramdev Park                                               3
IC Colony                                                 3
Motilal Nagar 1                                           3
Swastik Park                                              3
Veera Desai Road                                          3
Linking Road                                              3
Nala Sopara                                               3
Studio Kurla West                                         3
Byculla West                                              2
Rustomjee Global City                                     2
Grant Road East                                           2
Tagore Nagar                                              2
Mahim West                                                2
Studio Bhayandar East                                     2
Lower Parel West                                          2
Marve Road                                                2
Haji Ali                                                  2
Sundervan Complex                                         2
Bangur Nagar                                              2
Juhu Versova Link Road                                    2
Kurar Village                                             2
Kalina                                                    2
JB Nagar                                                  2
Park Road                                                 2
Thakurli                                                  2
Juhu Scheme                                               2
Parbat Nagar                                              2
Breach Candy                                              2
Sector 9 Charkop                                          2
Dahisar West                                              2
Dattani Park                                              2
Chira Bazaar                                              2
Sion                                                      2
Lower Parel                                               2
Oshiwara                                                  2
Vakola                                                    2
Shantaram Talao                                           2
Hindu Colony Dadar East                                   2
Magathane                                                 2
Gulmohar Colony                                           2
Senapati Bapat Marg                                       2
Western Express Highway                                   2
Mazgaon                                                   2
Kurla East                                                2
Jankalyan Nagar                                           2
JVPD Scheme                                               2
Matunga West                                              2
MIDC Industrial Estate                                    2
Jogeshwari East                                           2
Pleasant Park                                             2
Nana Chowk Area                                           2
Pant Nagar                                                2
Chinchpokli                                               2
Anuj apartment                                            1
Seven Bungalows                                           1
Bhavani Nagar Marol                                       1
Dongri                                                    1
wagle estate                                              1
dharti heights parel dadar east                           1
Manpada Road Dombivali-E                                  1
Studio Vazira                                             1
Opera House                                               1
Pandit DinDayal Uphadayay Marg                            1
Shripal Apt                                               1
Satsang CHSL                                              1
Kalwa Thane                                               1
Gokul Village 3 CHS Limited                               1
Anand Nagar Bhayandar East                                1
Jangal Mangal Road                                        1
Bhiwandi                                                  1
Irani Wadi                                                1
Riddhi Garden                                             1
AV CRYSTAL TOWER VASAI EAST                               1
Orlem                                                     1
Ulwe                                                      1
Tejaswi apt                                               1
Chandresh Krishna society                                 1
Gamdevi                                                   1
Collector Colony                                          1
Marol Maroshi Road                                        1
mehul apartment                                           1
Panvel                                                    1
Vishwakarma Nagar                                         1
Studio Prabhadevi                                         1
Kalpak Estate                                             1
Mumbai Central                                            1
Mitha Nagar                                               1
Napean Sea Road                                           1
transcon triumph tower 3                                  1
Upper Worli                                               1
Byculla East                                              1
Tarun Bharat Society                                      1
laxmi leela                                               1
Pawan Baug                                                1
Neighborhood Society                                      1
Friends Colony Bhandup East                               1
Pestom Sagar Colony                                       1
Swami Samarth Nagar                                       1
Dhuru Wadi Dadar West                                     1
Sector 3 Shanti Nagar                                     1
Near Gulmohar rd 10                                       1
Mahatma Kabir Nagar                                       1
Studio MHADA Colony Chunabhatti                           1
Jagdusha Nagar                                            1
Kurla                                                     1
Navkar City                                               1
Gokhale Road                                              1
Takshila Colony                                           1
Madhuban Township                                         1
Runwal Bliss                                              1
Sion West                                                 1
Studio Nala Sopara                                        1
New Link Road                                             1
Bhandup                                                   1
Mogra Village                                             1
Thane                                                     1
richmond tower vasai west                                 1
Amboli                                                    1
Shailendra Nagar                                          1
crown taloja                                              1
Shri Ram Kutir                                            1
Nagavara                                                  1
Malwani Shree Ashtavinyak CHS                             1
Geeta Nagar Mahim                                         1
chembur                                                   1
Neelam Nagar Society                                      1
Bhandup (West)                                            1
Mumbai Maharashtra                                        1
Gilbert Hill                                              1
manpada                                                   1
Crystal Midtown 1                                         1
Antop Hill                                                1
Nirmal CHS                                                1
Perry Road                                                1
Kapasi Cottage Bazar Road                                 1
akash Jyoti                                               1
Hay Bunder                                                1
Bhakti Park                                               1
Tulsi Kalash near dilkalp college                         1
Oswal Nagari                                              1
Dockyard Road                                             1
Sikka Nagar                                               1
Studio Boisar                                             1
Kamla habitat .kalina . sunder nagar . Santacruz East     1
Studio Sir Jamshedji Jeejeebhoy Road                      1
Neelkanth darshan old panvel                              1
Dhanukar Wadi                                             1
Dombivli                                                  1
Lodha crown taloja                                        1
Charni Road                                               1
Govandi                                                   1
Studio Nalasopara West                                    1
Fort                                                      1
dewa                                                      1
Studio Shankarwadi Jogeshwari East                        1
Girgaon                                                   1
Studio Nerul                                              1
Raj kamal                                                 1
casario                                                   1
Kasaravadi                                                1
Shivkrupa CHS                                             1
NM Joshi Marg                                             1
Gorai 2                                                   1
Padmavati Nagar Bolinj                                    1
Gauri Shankar Wadi No 2                                   1
Airoli Navimumbai                                         1
Regency anantham                                          1
Riddhi Siddhi CHS                                         1
rosa mysthica hscl                                        1
Studio                                                    1
Studio Bhakti Park                                        1
tirthankar darshan                                        1
Majiwada                                                  1
Samata Nagar Thakur Village                               1
Gautam Nagar Chakala Industrial Area MIDC                 1
Taloja Bypass Road                                        1
Moti Nagar                                                1
Natwar Nagar                                              1
Dongarpada                                                1
Rambaug Powai                                             1
Sagar Prasad Society                                      1
Worli Shivaji Nagar                                       1
Sindh Seva Samiti Nagar                                   1
Central Area                                              1
Bhabola                                                   1
Sion Koliwada                                             1
Dr Ambedkar Road                                          1
Veera Desai Industrial Estate                             1
Anjurdive                                                 1
Kala Nagar                                                1
Sewri West                                                1
Evershine City                                            1
Kannamwar Nagar 1                                         1
Studio Mahim West                                         1
Golden Nest Phase 1                                       1
Gulmohar Road                                             1
Gopal Nagar                                               1
Morya Nagar                                               1
Rupa Nagar                                                1
Mount Mary                                                1
Mhada HIG Colony                                          1
Kalbadevi                                                 1
Willingdon Heights                                        1
Nepean Sea Road                                           1
svarna kojagiri                                           1
Sahakar Shree Ram Krishna Garden                          1
VN Purav Marg                                             1
LODHA PALAVA CITY                                         1
Kandarpada                                                1
Mahindra happiness phase I                                1
Kherwadi                                                  1
Deonar Govandi East                                       1
Sion Dharavi                                              1
Royal Palms                                               1
Charkop Gaon                                              1
Shantivan                                                 1
Cuffe Parade                                              1
ruparel stardom                                           1
Rifle Range Road                                          1
Sen Nagar                                                 1
Juhu Lane                                                 1
ML Dahanukar Marg                                         1
Guru Nanak Nagar Chakala                                  1
JP Road                                                   1
Kanjur Village                                            1
Jeevan Nagar Azad Nagar 2                                 1
NL Complex                                                1
Santacruz                                                 1
Raje Shivaji Nagar                                        1
Lower Parel East                                          1
Reclamation                                               1
Tambe Nagar                                               1
Dindoshi                                                  1
Sajjan Wadi                                               1
Nensey Colony                                             1
Barrister Nath Pai Nagar                                  1
New MHB Colony                                            1
Vaishali Nagar Dahisar                                    1
Yagna Nagar                                               1
Akurli Road                                               1
Godrej And Boyce Industry Estate                          1
Irla                                                      1
Panchseel Heights                                         1
lotus court                                               1
IIT Area                                                  1
on req                                                    1
devidayla cross road                                      1
LBS Road                                                  1
highland complex                                          1
Churchgate                                                1
Valencia Paradise                                         1
LnT Crescent Bay Tower                                    1
Vikhroli East                                             1
Adarsh Nagar Jogeshwari West                              1
Godrej Hillside Colony                                    1
Studio Dadar TT                                           1
Iqbal heights                                             1
LIC Colony Vardhman Nagar                                 1
Vikhroli West                                             1
Dina Bama Estate                                          1

In [1648]:
temp = df[df['Sector'].str.contains('Bhandup')]
temp['Sector'] = 'Bhandup'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\3348370499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Bhandup'

In [1649]:
temp = df[df['Sector'].str.contains('Santacruz')]
temp['Sector'] = 'Santacruz'
index = temp['Unnamed: 0']
df.iloc[index] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\181355662.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Sector'] = 'Santacruz'

# **Sector**

In [1650]:
df['Sector'].value_counts().head(19)

Sector
Kandivali     88
Andheri       80
Malad         72
Mulund        71
Borivali      67
Chembur       52
Mira Road     48
Virar         46
Goregaon      45
Ghatkopar     37
Powai         37
Bandra        35
Kanjurmarg    30
Wadala        28
Bhandup       26
Prabhadevi    25
Santacruz     24
Vile Parle    22
Worli         19
Name: count, dtype: int64

In [1651]:
area = ['Kandivali',
'Andheri',
'Malad',
'Mulund',
'Borivali',
'Chembur',
'Mira Road',
'Virar',
'Goregaon',
'Ghatkopar',
'Powai',
'Bandra',
'Kanjurmarg',
'Wadala',
'Bhandup',
'Prabhadevi',
'Santacruz',
'Vile Parle',
'Worli']

In [1652]:
def sector(value):
    if value in area:
        return value
    else:
        return 'others'

In [1653]:
df['Sector'] = df['Sector'].apply(sector)

In [1654]:
df['Sector'].value_counts()

Sector
others        648
Kandivali      88
Andheri        80
Malad          72
Mulund         71
Borivali       67
Chembur        52
Mira Road      48
Virar          46
Goregaon       45
Powai          37
Ghatkopar      37
Bandra         35
Kanjurmarg     30
Wadala         28
Bhandup        26
Prabhadevi     25
Santacruz      24
Vile Parle     22
Worli          19
Name: count, dtype: int64

In [1655]:
df.head()

,Unnamed: 0,bhk,BHK,Sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Lodha Aura, Wadala, M...",3,Wadala,4.35 Cr,1115 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Lodha Aura,NAN,NAN,3,NAN,NAN,Poss. by Dec '26
1,1,"1 BHK Flat for Sale in The Palace Tower, Vin...",1,others,67 Lac,399 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,The Palace Tower,NAN,NAN,2,NAN,NAN,Poss. by Dec '28
2,2,"2 BHK Flat for Sale in Godrej Reserve, Kandi...",2,Kandivali,"2.25 Cr20,872 per sqft",770 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Godrej Reserve,NAN,1 Covered,2,NAN,NAN,Poss. by Jun '30
3,3,"2 BHK Flat for Sale in Northern Hills, Dahis...",2,others,1.80 Cr,623 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Northern Hills,NAN,1 Covered,2,NAN,NAN,Poss. by Dec '26
4,4,"1 BHK Flat for Sale in AV Pride, Nalasopara ...",1,others,33 Lac,362 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,AV Pride,NAN,NAN,2,NAN,NAN,Poss. by Dec '28

In [1656]:
df['BHK'].value_counts()

BHK
2            589
1            403
3            366
4             84
Studio        32
5             16
6              7
Apartment      1
7              1
8              1
Name: count, dtype: int64

In [1657]:
bhk = ['1','2','3','4']
def bhk_type(value):
    if value in bhk:
        return value
    elif value == 'Studio':
        return '1'
    else:
        return '4+'

# **BHK**

In [1658]:
df['BHK'] = df['BHK'].apply(bhk_type)

In [1659]:
df['BHK'].value_counts()

BHK
2     589
1     435
3     366
4      84
4+     26
Name: count, dtype: int64

In [1660]:
df.head()

,Unnamed: 0,bhk,BHK,Sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Lodha Aura, Wadala, M...",3,Wadala,4.35 Cr,1115 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Lodha Aura,NAN,NAN,3,NAN,NAN,Poss. by Dec '26
1,1,"1 BHK Flat for Sale in The Palace Tower, Vin...",1,others,67 Lac,399 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,The Palace Tower,NAN,NAN,2,NAN,NAN,Poss. by Dec '28
2,2,"2 BHK Flat for Sale in Godrej Reserve, Kandi...",2,Kandivali,"2.25 Cr20,872 per sqft",770 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Godrej Reserve,NAN,1 Covered,2,NAN,NAN,Poss. by Jun '30
3,3,"2 BHK Flat for Sale in Northern Hills, Dahis...",2,others,1.80 Cr,623 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Northern Hills,NAN,1 Covered,2,NAN,NAN,Poss. by Dec '26
4,4,"1 BHK Flat for Sale in AV Pride, Nalasopara ...",1,others,33 Lac,362 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,AV Pride,NAN,NAN,2,NAN,NAN,Poss. by Dec '28

In [1661]:
df['price_sqft_price']

0                         4.35 Cr
1                          67 Lac
2          2.25 Cr20,872 per sqft
3                         1.80 Cr
4                          33 Lac
5                         1.02 Cr
6                         2.30 Cr
7                         5.20 Cr
8                         3.34 Cr
9                         2.60 Cr
10         1.90 Cr22,892 per sqft
11                        1.70 Cr
12                        8.52 Cr
13                       98.5 Lac
14         2.84 Cr31,556 per sqft
15                       69.1 Lac
16                        2.99 Cr
17                        1.85 Cr
18                        2.75 Cr
19         1.31 Cr27,850 per sqft
20                        1.70 Cr
21                        2.22 Cr
22                        1.99 Cr
23         7.50 Cr44,431 per sqft
24                        3.70 Cr
25         6.10 Cr39,103 per sqft
26                         78 Lac
27         3.90 Cr34,121 per sqft
28                       69.1 Lac
29                        6.77 Cr
30         4.61 Cr32,905 per sqft
31         3.65 Cr36,550 per sqft
32          63 Lac14,157 per sqft
33         1.01 Cr20,141 per sqft
34                        1.66 Cr
35         3.56 Cr36,550 per sqft
36          60 Lac18,519 per sqft
37                        2.80 Cr
38                         80 Lac
39         4.30 Cr26,061 per sqft
40                        3.30 Cr
41         2.27 Cr29,857 per sqft
42                        1.27 Cr
43                        1.16 Cr
44                        3.05 Cr
45                        2.40 Cr
46                        2.40 Cr
47         2.15 Cr28,705 per sqft
48                        2.55 Cr
49                        2.50 Cr
50                        3.15 Cr
51                        1.43 Cr
52                        1.27 Cr
53                        1.49 Cr
54         1.22 Cr19,489 per sqft
55         3.49 Cr32,435 per sqft
56         5.20 Cr35,495 per sqft
57         1.42 Cr29,278 per sqft
58                        3.30 Cr
59         2.64 Cr24,000 per sqft
60                        4.07 Cr
61         5.74 Cr57,673 per sqft
62                        1.81 Cr
63                         89 Lac
64                         59 Lac
65         2.34 Cr26,621 per sqft
66         2.80 Cr33,333 per sqft
67         1.50 Cr23,772 per sqft
68                        1.77 Cr
69                         75 Lac
70         9.04 Cr60,293 per sqft
71         6.70 Cr40,854 per sqft
72                         33 Lac
73          80 Lac19,656 per sqft
74         41.4 Lac8,809 per sqft
75                       72.4 Lac
76                        3.95 Cr
77         2.40 Cr23,529 per sqft
78         3.19 Cr33,579 per sqft
79           39 Lac7,400 per sqft
80                        1.15 Cr
81         1.90 Cr24,675 per sqft
82                         70 Lac
83                        3.92 Cr
84                        1.45 Cr
85                       97.4 Lac
86                        3.10 Cr
87                        1.51 Cr
88                        2.49 Cr
89         1.35 Cr20,769 per sqft
90         7.29 Cr48,600 per sqft
91                        2.55 Cr
92                        3.99 Cr
93                       77.1 Lac
94                        3.10 Cr
95            8 Cr51,613 per sqft
96                        2.71 Cr
97                        6.93 Cr
98         1.96 Cr24,500 per sqft
99                       88.8 Lac
100                       2.30 Cr
101                       6.29 Cr
102                       3.12 Cr
103                       2.98 Cr
104                       3.25 Cr
105                       1.45 Cr
106        2.72 Cr24,840 per sqft
107        2.40 Cr19,200 per sqft
108        8.10 Cr45,000 per sqft
109                       1.86 Cr
110                       1.04 Cr
111        2.63 Cr32,345 per sqft
112                       1.35 Cr
113                        96 Lac
114                       2.10 Cr
115                       1.71 Cr
116                       1.76 Cr
117                       1.35 Cr
118                       1.03 Cr
119           8 Cr59,925 per sqft
120                       4.50 Cr
121        3.15 Cr23,333 per sqft
122        6.80 Cr37,281 per sqft
123        1.75 Cr25,000 per sqft
124          10 Cr30,303 per sqft
125        7.25 Cr46,774 per sqft
126        1.90 Cr25,000 per sqft
127        4.93 Cr55,854 per sqft
128       10.50 Cr33,333 per sqft
129        2.90 Cr18,710 per sqft
130        3.75 Cr20,833 per sqft
131        6.04 Cr17,223 per sqft
132        2.30 Cr30,667 per sqft
133        2.70 Cr27,000 per sqft
134        3.50 Cr25,926 per sqft
135        6.50 Cr27,660 per sqft
136        6.30 Cr42,000 per sqft
137        1.60 Cr24,615 per sqft
138                       3.10 Cr
139        2.20 Cr23,158 per sqft
140       15.50 Cr40,789 per sqft
141          98 Lac9,333 per sqft
142        3.35 Cr17,914 per sqft
143                       4.30 Cr
144        1.95 Cr16,738 per sqft
145          69 Lac9,583 per sqft
146        2.45 Cr23,333 per sqft
147        2.20 Cr27,500 per sqft
148        3.40 Cr18,671 per sqft
149        2.25 Cr20,680 per sqft
150       13.25 Cr41,772 per sqft
151        1.75 Cr15,909 per sqft
152        1.16 Cr16,571 per sqft
153                       2.61 Cr
154        2.75 Cr27,555 per sqft
155        2.46 Cr26,452 per sqft
156        3.50 Cr36,458 per sqft
157        4.10 Cr30,370 per sqft
158        1.99 Cr23,495 per sqft
159        6.50 Cr30,233 per sqft
160        1.49 Cr17,529 per sqft
161        4.50 Cr38,894 per sqft
162        3.90 Cr26,000 per sqft
163        1.10 Cr27,431 per sqft
164        3.90 Cr26,000 per sqft
165        1.99 Cr20,947 per sqft
166                       1.65 Cr
167         1.43 Cr9,863 per sqft
168        3.40 Cr23,448 per sqft
169         1.30 Cr9,455 per sqft
170          60 Lac9,009 per sqft
171        1.49 Cr27,190 per sqft
172        1.60 Cr19,394 per sqft
173        6.07 Cr53,527 per sqft
174       10.50 Cr37,500 per sqft
175        6.96 Cr23,593 per sqft
176        1.70 Cr16,190 per sqft
177        1.25 Cr20,833 per sqft
178        2.42 Cr17,286 per sqft
179        1.65 Cr15,865 per sqft
180        6.45 Cr36,550 per sqft
181                       5.35 Cr
182                       3.39 Cr
183        4.60 Cr35,385 per sqft
184                       1.70 Cr
185        62.8 Lac8,099 per sqft
186          38 Lac5,846 per sqft
187        3.45 Cr25,368 per sqft
188        7.25 Cr65,909 per sqft
189        4.51 Cr28,188 per sqft
190           3 Cr50,000 per sqft
191        3.70 Cr29,600 per sqft
192        5.50 Cr34,548 per sqft
193        1.64 Cr27,000 per sqft
194        4.41 Cr49,000 per sqft
195          45 Lac4,918 per sqft
196        3.40 Cr22,667 per sqft
197          35 Cr96,260 per sqft
198        1.72 Cr20,117 per sqft
199                       2.30 Cr
200        7.99 Cr61,132 per sqft
201                       5.05 Cr
202        1.48 Cr16,629 per sqft
203        1.97 Cr17,625 per sqft
204        8.20 Cr61,423 per sqft
205        2.25 Cr22,059 per sqft
206        1.85 Cr23,125 per sqft
207        2.72 Cr27,309 per sqft
208        1.50 Cr18,987 per sqft
209        2.45 Cr21,267 per sqft
210        2.90 Cr22,308 per sqft
211        2.55 Cr25,148 per sqft
212        2.95 Cr28,365 per sqft
213       12.50 Cr41,667 per sqft
214        1.75 Cr26,923 per sqft
215        2.85 Cr19,115 per sqft
216        1.07 Cr17,833 per sqft
217        2.09 Cr32,300 per sqft
218        5.36 Cr29,564 per sqft
219        1.99 Cr18,952 per sqft
220        1.29 Cr15,176 per sqft
221           2 Cr25,608 per sqft
222           2 Cr21,053 per sqft
223        4.25 Cr18,575 per sqft
224        3.50 Cr21,212 per sqft
225        1.25 Cr16,026 per sqft
226        7.50 Cr52,011 per sqft
227        2.55 Cr28,333 per sqft
228        1.70 Cr14,809 per sqft
229        2.35 Cr42,727 per sqft
230        1.33 Cr22,146 per sqft
231        1.40 Cr14,141 per sqft
232          96 Lac9,600 per sqft
233        4.85 Cr19,269 per sqft
234        1.06 Cr13,168 per sqft
235         1.20 Cr9,600 per sqft
236        3.60 Cr36,548 per sqft
237       14.17 Cr39,284 per sqft
238          16 Cr57,041 per sqft
239        2.51 Cr27,889 per sqft
240       10.11 Cr67,580 per sqft
241        1.20 Cr17,391 per sqft
242        2.25 Cr22,500 per sqft
243        4.20 Cr34,091 per sqft
244        2.40 Cr21,818 per sqft
245        2.45 Cr17,500 per sqft
246        4.35 Cr23,514 per sqft
247        2.22 Cr13,455 per sqft
248                       5.73 Cr
249                       2.20 Cr
250        3.39 Cr43,295 per sqft
251         88 Lac14,125 per sqft
252                       3.25 Cr
253        1.95 Cr15,000 per sqft
254        8.70 Cr45,407 per sqft
255        68.7 Lac9,541 per sqft
256        1.50 Cr11,111 per sqft
257        4.05 Cr18,000 per sqft
258        1.97 Cr31,122 per sqft
259        2.10 Cr25,579 per sqft
260         94 Lac12,533 per sqft
261          49 Cr49,000 per sqft
262           7 Cr52,122 per sqft
263        8.69 Cr75,500 per sqft
264        1.18 Cr20,850 per sqft
265         95 Lac15,200 per sqft
266          18 Cr40,000 per sqft
267        6.50 Cr36,111 per sqft
268        2.45 Cr24,500 per sqft
269                        92 Lac
270        1.20 Cr16,327 per sqft
271        3.17 Cr20,733 per sqft
272        2.45 Cr21,304 per sqft
273        1.88 Cr24,967 per sqft
274        1.68 Cr19,200 per sqft
275        5.48 Cr27,425 per sqft
276        4.35 Cr34,800 per sqft
277        1.23 Cr17,472 per sqft
278         1.08 Cr8,700 per sqft
279         2.38 Cr9,493 per sqft
280       90.5 Lac17,680 per sqft
281        1.79 Cr15,633 per sqft
282        7.40 Cr37,949 per sqft
283        6.60 Cr26,400 per sqft
284        3.99 Cr24,938 per sqft
285        5.95 Cr52,193 per sqft
286        2.10 Cr16,154 per sqft
287        1.20 Cr20,305 per sqft
288        2.94 Cr14,500 per sqft
289        2.25 Cr20,089 per sqft
290        5.85 Cr40,881 per sqft
291        1.45 Cr15,263 per sqft
292        2.55 Cr18,889 per sqft
293           1 Cr21,739 per sqft
294        3.90 Cr27,857 per sqft
295        4.30 Cr26,875 per sqft
296        1.56 Cr14,871 per sqft
297        71.5 Lac9,931 per sqft
298        2.20 Cr21,073 per sqft
299        1.58 Cr11,286 per sqft
300        1.25 Cr20,525 per sqft
301         68 Lac12,594 per sqft
302        2.10 Cr20,588 per sqft
303                       1.40 Cr
304        7.05 Cr42,727 per sqft
305        3.36 Cr36,285 per sqft
306        1.10 Cr25,114 per sqft
307        2.10 Cr30,435 per sqft
308        4.12 Cr39,015 per sqft
309                         11 Cr
310        3.30 Cr20,625 per sqft
311         91 Lac12,639 per sqft
312       18.85 Cr84,872 per sqft
313        1.16 Cr20,714 per sqft
314        1.85 Cr19,474 per sqft
315                       2.42 Cr
316        4.46 Cr40,000 per sqft
317        8.50 Cr44,737 per sqft
318       16.67 Cr88,000 per sqft
319        4.30 Cr26,380 per sqft
320        6.69 Cr35,250 per sqft
321                       8.24 Cr
322        1.39 Cr16,382 per sqft
323        3.01 Cr24,392 per sqft
324        1.15 Cr14,375 per sqft
325        4.88 Cr56,744 per sqft
326        1.96 Cr26,133 per sqft
327        2.34 Cr27,517 per sqft
328        1.21 Cr16,923 per sqft
329                       5.30 Cr
330        4.25 Cr24,011 per sqft
331          14 Cr56,000 per sqft
332        4.50 Cr25,168 per sqft
333                       1.76 Cr
334        1.55 Cr17,280 per sqft
335        3.60 Cr24,828 per sqft
336        1.78 Cr15,034 per sqft
337        4.90 Cr22,273 per sqft
338        2.99 Cr20,621 per sqft
339        5.19 Cr44,102 per sqft
340        1.74 Cr25,626 per sqft
341           2 Cr27,778 per sqft
342        2.40 Cr21,295 per sqft
343        3.98 Cr52,231 per sqft
344        1.60 Cr12,800 per sqft
345          15 Cr42,135 per sqft
346        1.05 Cr14,000 per sqft
347        4.43 Cr40,273 per sqft
348        1.53 Cr34,076 per sqft
349        3.40 Cr31,481 per sqft
350        1.08 Cr15,084 per sqft
351        2.89 Cr29,000 per sqft
352        6.62 Cr51,041 per sqft
353       21.75 Cr45,455 per sqft
354       14.75 Cr70,238 per sqft
355        2.80 Cr26,667 per sqft
356                       9.80 Cr
357        1.60 Cr16,000 per sqft
358        1.94 Cr45,000 per sqft
359         82 Lac16,907 per sqft
360          11 Cr64,706 per sqft
361       29.74 Cr92,938 per sqft
362          20 Cr44,444 per sqft
363        1.80 Cr17,143 per sqft
364        2.76 Cr22,080 per sqft
365        5.50 Cr44,000 per sqft
366          33 Lac5,739 per sqft
367         95 Lac15,833 per sqft
368        2.50 Cr25,589 per sqft
369        2.90 Cr17,586 per sqft
370                        78 Lac
371        3.76 Cr44,235 per sqft
372        3.31 Cr23,679 per sqft
373        1.22 Cr27,727 per sqft
374         92 Lac22,010 per sqft
375       17.49 Cr96,312 per sqft
376        5.26 Cr29,222 per sqft
377        5.65 Cr45,200 per sqft
378        3.90 Cr21,081 per sqft
379        2.90 Cr20,055 per sqft
380        7.75 Cr40,811 per sqft
381        1.15 Cr25,442 per sqft
382        7.80 Cr41,467 per sqft
383          74 Lac7,048 per sqft
384        2.10 Cr20,290 per sqft
385        4.20 Cr24,000 per sqft
386        6.49 Cr54,219 per sqft
387        1.99 Cr26,747 per sqft
388       12.50 Cr67,568 per sqft
389         74 Lac11,212 per sqft
390        3.50 Cr31,334 per sqft
391        2.99 Cr28,476 per sqft
392        2.26 Cr19,700 per sqft
393                       2.50 Cr
394        5.30 Cr29,185 per sqft
395                       6.73 Cr
396         66 Lac10,312 per sqft
397        2.10 Cr16,854 per sqft
398         75 Lac14,286 per sqft
399          60 Lac8,392 per sqft
400                      15.84 Cr
401        6.75 Cr46,552 per sqft
402       66.3 Lac16,100 per sqft
403           9 Cr58,939 per sqft
404                          9 Cr
405          25 Cr62,500 per sqft
406        1.39 Cr32,500 per sqft
407          45 Lac8,539 per sqft
408        2.72 Cr21,233 per sqft
409        5.87 Cr40,502 per sqft
410          33 Cr55,743 per sqft
411        1.65 Cr23,571 per sqft
412        4.62 Cr44,211 per sqft
413        2.25 Cr21,845 per sqft
414        1.38 Cr20,721 per sqft
415          60 Lac8,208 per sqft
416        1.95 Cr22,000 per sqft
417     32.10 Cr1,06,011 per sqft
418        1.10 Cr17,054 per sqft
419                        99 Lac
420        2.44 Cr22,182 per sqft
421                       1.16 Cr
422        1.90 Cr17,273 per sqft
423        1.87 Cr27,529 per sqft
424        4.83 Cr31,735 per sqft
425        9.26 Cr41,156 per sqft
426        2.45 Cr22,962 per sqft
427        4.52 Cr25,450 per sqft
428        1.55 Cr18,720 per sqft
429          33 Cr47,143 per sqft
430        4.50 Cr25,641 per sqft
431           1 Cr22,624 per sqft
432        5.50 Cr37,931 per sqft
433        4.75 Cr31,667 per sqft
434        2.38 Cr20,877 per sqft
435        1.09 Cr17,810 per sqft
436        1.70 Cr25,373 per sqft
437        3.31 Cr17,249 per sqft
438        1.05 Cr22,199 per sqft
439        1.70 Cr28,053 per sqft
440       16.19 Cr70,300 per sqft
441        7.50 Cr35,327 per sqft
442        5.50 Cr36,667 per sqft
443        1.99 Cr18,952 per sqft
444        1.47 Cr19,600 per sqft
445        1.39 Cr16,353 per sqft
446           2 Cr20,000 per sqft
447     37.76 Cr1,00,000 per sqft
448        2.30 Cr18,139 per sqft
449        5.50 Cr41,667 per sqft
450        2.30 Cr25,358 per sqft
451        4.05 Cr18,409 per sqft
452                       6.40 Cr
453        1.80 Cr20,000 per sqft
454        3.20 Cr17,778 per sqft
455                       4.64 Cr
456        5.99 Cr41,310 per sqft
457        2.20 Cr20,952 per sqft
458        4.21 Cr31,185 per sqft
459       14.60 Cr69,524 per sqft
460        2.44 Cr18,769 per sqft
461        2.32 Cr19,366 per sqft
462         85 Lac12,143 per sqft
463        6.50 Cr50,000 per sqft
464        2.65 Cr22,083 per sqft
465                        40 Lac
466                       1.90 Cr
467        2.95 Cr27,962 per sqft
468                       6.68 Cr
469        1.60 Cr21,333 per sqft
470          42 Lac6,462 per sqft
471        1.83 Cr17,429 per sqft
472        3.40 Cr20,606 per sqft
473        5.80 Cr52,727 per sqft
474        1.63 Cr23,286 per sqft
475         89 Lac14,614 per sqft
476           5 Cr20,964 per sqft
477        1.70 Cr18,889 per sqft
478        1.55 Cr13,478 per sqft
479                       7.70 Cr
480        3.24 Cr16,400 per sqft
481        4.65 Cr33,214 per sqft
482        2.60 Cr26,000 per sqft
483           1 Cr21,277 per sqft
484        2.90 Cr23,200 per sqft
485        6.50 Cr36,111 per sqft
486                        95 Lac
487          98 Lac9,800 per sqft
488        3.12 Cr36,497 per sqft
489        2.74 Cr20,296 per sqft
490         85 Lac38,636 per sqft
491        9.49 Cr55,110 per sqft
492        3.75 Cr28,846 per sqft
493        4.20 Cr27,944 per sqft
494        9.85 Cr36,481 per sqft
495        3.85 Cr33,478 per sqft
496        2.55 Cr17,586 per sqft
497         72 Lac15,824 per sqft
498         96 Lac15,484 per sqft
499        1.15 Cr17,424 per sqft
500        4.66 Cr40,277 per sqft
501           7 Cr51,852 per sqft
502        2.99 Cr19,228 per sqft
503        1.55 Cr24,800 per sqft
504        2.79 Cr21,379 per sqft
505          50 Lac8,333 per sqft
506         90 Lac21,951 per sqft
507        25.5 Lac5,100 per sqft
508        5.75 Cr35,960 per sqft
509                        88 Lac
510        2.10 Cr18,584 per sqft
511        1.60 Cr14,787 per sqft
512        1.80 Cr15,000 per sqft
513        3.50 Cr33,333 per sqft
514        3.50 Cr17,500 per sqft
515           9 Cr45,000 per sqft
516        4.75 Cr20,652 per sqft
517           6 Cr38,217 per sqft
518        1.40 Cr12,174 per sqft
519        2.99 Cr31,944 per sqft
520        1.80 Cr25,714 per sqft
521        2.85 Cr36,076 per sqft
522                       2.20 Cr
523                       5.35 Cr
524        1.10 Cr15,559 per sqft
525          11 Cr47,312 per sqft
526         31 Lac10,197 per sqft
527        1.80 Cr17,647 per sqft
528        2.50 Cr18,519 per sqft
529           2 Cr24,010 per sqft
530        1.71 Cr17,100 per sqft
531          75 Lac6,250 per sqft
532           1 Cr15,385 per sqft
533         90 Lac12,857 per sqft
534        2.70 Cr31,765 per sqft
535        1.60 Cr20,513 per sqft
536        2.20 Cr20,952 per sqft
537        2.52 Cr25,200 per sqft
538          16 Lac2,133 per sqft
539        1.25 Cr16,404 per sqft
540        1.25 Cr30,488 per sqft
541        6.10 Cr48,800 per sqft
542        2.35 Cr18,077 per sqft
543        8.25 Cr43,651 per sqft
544           3 Cr26,178 per sqft
545                       3.90 Cr
546         42 Lac11,831 per sqft
547        16.5 Lac4,714 per sqft
548        1.48 Cr34,023 per sqft
549           3 Cr25,000 per sqft
550         90 Lac15,000 per sqft
551        2.90 Cr25,893 per sqft
552        1.80 Cr27,231 per sqft
553         95 Lac18,269 per sqft
554        2.95 Cr19,032 per sqft
555        3.75 Cr28,846 per sqft
556        2.55 Cr19,767 per sqft
557        2.15 Cr18,696 per sqft
558        2.29 Cr35,231 per sqft
559        3.35 Cr23,103 per sqft
560        3.80 Cr28,148 per sqft
561        2.95 Cr35,864 per sqft
562        9.50 Cr57,057 per sqft
563        1.27 Cr12,095 per sqft
564        2.55 Cr25,500 per sqft
565        1.98 Cr30,000 per sqft
566        2.49 Cr19,920 per sqft
567        3.52 Cr26,667 per sqft
568        2.87 Cr17,186 per sqft
569        6.50 Cr47,935 per sqft
570        9.75 Cr65,000 per sqft
571        3.20 Cr26,667 per sqft
572        1.40 Cr21,705 per sqft
573        3.90 Cr48,750 per sqft
574        4.50 Cr30,000 per sqft
575        2.95 Cr18,438 per sqft
576                       1.27 Cr
577        2.10 Cr12,844 per sqft
578        7.25 Cr30,208 per sqft
579        3.50 Cr43,750 per sqft
580        1.85 Cr18,500 per sqft
581           3 Cr30,000 per sqft
582        2.15 Cr19,545 per sqft
583        4.29 Cr26,812 per sqft
584        1.45 Cr29,000 per sqft
585        7.79 Cr29,067 per sqft
586        3.25 Cr20,062 per sqft
587          38 Cr69,091 per sqft

# **Extract Cr and Lac**

In [1662]:
def extract_values(value):
    matches = re.findall(r'(\d+(\.\d+)?\s*Cr|\d+(\.\d+)?\s*Lac)', value)
    return ', '.join([match[0] for match in matches])

In [1663]:
price = df['price_sqft_price'].apply(extract_values)

In [1664]:
df.insert(loc =5,column='price', value= price)

In [1665]:
price_persqft =df['price_sqft_price'].str.replace('Cr',':').str.replace('Lac',':').str.split(':').str.get(1).str.replace(',','').str.split(' ').str.get(0)

In [1666]:
df.insert(loc=6,column='price_persqft',value=price_persqft)

In [1667]:
df.head()

,Unnamed: 0,bhk,BHK,Sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Lodha Aura, Wadala, M...",3,Wadala,4.35 Cr,4.35 Cr,,1115 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Lodha Aura,NAN,NAN,3,NAN,NAN,Poss. by Dec '26
1,1,"1 BHK Flat for Sale in The Palace Tower, Vin...",1,others,67 Lac,67 Lac,,399 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,The Palace Tower,NAN,NAN,2,NAN,NAN,Poss. by Dec '28
2,2,"2 BHK Flat for Sale in Godrej Reserve, Kandi...",2,Kandivali,"2.25 Cr20,872 per sqft",2.25 Cr,20872,770 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Godrej Reserve,NAN,1 Covered,2,NAN,NAN,Poss. by Jun '30
3,3,"2 BHK Flat for Sale in Northern Hills, Dahis...",2,others,1.80 Cr,1.80 Cr,,623 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Northern Hills,NAN,1 Covered,2,NAN,NAN,Poss. by Dec '26
4,4,"1 BHK Flat for Sale in AV Pride, Nalasopara ...",1,others,33 Lac,33 Lac,,362 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,AV Pride,NAN,NAN,2,NAN,NAN,Poss. by Dec '28

In [1668]:
df['price']=df['price'].str.replace('Cr','').str.strip()

In [1669]:
temp_df = df[df['price'].str.contains('Lac')]

In [1670]:
temp_df['price']=temp_df['price'].str.replace(' Lac','').astype(float)*0.01

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\2992832755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['price']=temp_df['price'].str.replace(' Lac','').astype(float)*0.01

In [1671]:
index = temp_df['Unnamed: 0']
df.iloc[index] = temp_df

In [1672]:
temp=df[df['price_persqft'] == '']

In [1673]:
temp['price_persqft'] = np.nan

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\2314804296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['price_persqft'] = np.nan

In [1674]:
index = temp['Unnamed: 0']
df.iloc[index] = temp

# **Super Area**

In [1675]:
temp = df[(~df['price_persqft'].isnull()) & (df['SuperArea'] == 'NAN')]

In [1676]:
temp['SuperArea'] = (round(temp['price'].astype(float)*(10**7)/temp['price_persqft'].astype(float))).astype(str)

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\1803186530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['SuperArea'] = (round(temp['price'].astype(float)*(10**7)/temp['price_persqft'].astype(float))).astype(str)

In [1677]:
index = temp['Unnamed: 0']

In [1678]:
df.iloc[index] = temp

In [1679]:
temp = df[(df['SuperArea'] == 'NAN') & (df['Carpet_Area'] != 'NAN')]

In [1680]:
temp['SuperArea'] = temp['Carpet_Area']

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\3267971250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['SuperArea'] = temp['Carpet_Area']

In [1681]:
index = temp['Unnamed: 0']

In [1682]:
df.iloc[index] = temp

In [1683]:
df['SuperArea']=df['SuperArea'].str.replace(' sqft','')

In [1684]:
df[df['SuperArea'].str.contains('sqyrd')]

,Unnamed: 0,bhk,BHK,Sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
748,748,1 BHK Builder Floor for Sale in Ulhasnagar Mumbai,1,others,"30.5 Lac8,069 per sqft",0.305,8069,NAN,42 sqyrd,Ready to Move,Ground out of 4,Resale,Unfurnished,NAN,NAN,NAN,NAN,1,NAN,NAN,NAN

In [1685]:
df['SuperArea'].iloc[748] = 378

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\2052600170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SuperArea'].iloc[748] = 378

In [1686]:
df['SuperArea'].iloc[748]

378

In [1687]:
df[df['SuperArea'] == '33 sqm']

,Unnamed: 0,bhk,BHK,Sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
666,666,1 BHK Apartment for Sale in Nalasopara East Mu...,1,others,37.3 Lac,0.373,NaN,33 sqm,33 sqm,Ready to Move,1 out of 4,Resale,Semi-Furnished,East,NAN,Freehold,10 Open,2,3,"Garden/Park, Main Road",NAN

In [1688]:
df['SuperArea'].iloc[666] = 355.2

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\1820555628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SuperArea'].iloc[666] = 355.2

In [1689]:
df['SuperArea']=df['SuperArea'].astype(float)

In [1690]:
df.head()

,Unnamed: 0,bhk,BHK,Sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Lodha Aura, Wadala, M...",3,Wadala,4.35 Cr,4.35,NaN,1115 sqft,1115.0,NAN,NAN,New Property,Unfurnished,NAN,Lodha Aura,NAN,NAN,3,NAN,NAN,Poss. by Dec '26
1,1,"1 BHK Flat for Sale in The Palace Tower, Vin...",1,others,67 Lac,0.67,NaN,399 sqft,399.0,NAN,NAN,New Property,Unfurnished,NAN,The Palace Tower,NAN,NAN,2,NAN,NAN,Poss. by Dec '28
2,2,"2 BHK Flat for Sale in Godrej Reserve, Kandi...",2,Kandivali,"2.25 Cr20,872 per sqft",2.25,20872,770 sqft,1078.0,NAN,NAN,New Property,Unfurnished,NAN,Godrej Reserve,NAN,1 Covered,2,NAN,NAN,Poss. by Jun '30
3,3,"2 BHK Flat for Sale in Northern Hills, Dahis...",2,others,1.80 Cr,1.80,NaN,623 sqft,623.0,NAN,NAN,New Property,Unfurnished,NAN,Northern Hills,NAN,1 Covered,2,NAN,NAN,Poss. by Dec '26
4,4,"1 BHK Flat for Sale in AV Pride, Nalasopara ...",1,others,33 Lac,0.33,NaN,362 sqft,362.0,NAN,NAN,New Property,Unfurnished,NAN,AV Pride,NAN,NAN,2,NAN,NAN,Poss. by Dec '28

In [1691]:
temp = df[df['price_persqft'].isnull()]

In [1692]:
sqft =round(temp['price'].astype(float)*(10**7)/temp['SuperArea'])

In [1693]:
temp['price_persqft'] = sqft

C:\Users\dhanr\AppData\Local\Temp\ipykernel_23360\1880075225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['price_persqft'] = sqft

In [1694]:
index = temp['Unnamed: 0']

In [1695]:
df['price_persqft'] = df['price_persqft'].astype(float)

In [1696]:
df.iloc[index] = temp

# **Floor**

In [1697]:
df['Floor']=df['Floor'].str.split(' ').str.get(0)

In [1698]:
def floor_type(value):
    if value == 'Ground':
        return '0'
    elif value == 'Basement':
        return '-1'
    elif value == 'Lower':
        return '-2'
    elif value == 'Upper':
        return '1'
    else:
        return value

In [1699]:
df['Floor'] = df['Floor'].apply(floor_type)

In [1700]:
floor = ['0','1','2','3','4','5','6','7','8','9','10']
def floors(value):
    if value in floor:
        return value
    elif value == 'NAN':
        return np.nan
    else:
        return '10+'

In [1701]:
df['Floor'] = df['Floor'].apply(floors)

In [1702]:
df['Floor'].value_counts()

Floor
10+    454
1      116
4      106
3      103
2       99
5       96
10      85
6       65
7       64
9       49
0       45
8       33
Name: count, dtype: int64

In [1703]:
df.head()

,Unnamed: 0,bhk,BHK,Sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Lodha Aura, Wadala, M...",3,Wadala,4.35 Cr,4.35,39013.0,1115 sqft,1115.0,NAN,NaN,New Property,Unfurnished,NAN,Lodha Aura,NAN,NAN,3,NAN,NAN,Poss. by Dec '26
1,1,"1 BHK Flat for Sale in The Palace Tower, Vin...",1,others,67 Lac,0.67,16792.0,399 sqft,399.0,NAN,NaN,New Property,Unfurnished,NAN,The Palace Tower,NAN,NAN,2,NAN,NAN,Poss. by Dec '28
2,2,"2 BHK Flat for Sale in Godrej Reserve, Kandi...",2,Kandivali,"2.25 Cr20,872 per sqft",2.25,20872.0,770 sqft,1078.0,NAN,NaN,New Property,Unfurnished,NAN,Godrej Reserve,NAN,1 Covered,2,NAN,NAN,Poss. by Jun '30
3,3,"2 BHK Flat for Sale in Northern Hills, Dahis...",2,others,1.80 Cr,1.80,28892.0,623 sqft,623.0,NAN,NaN,New Property,Unfurnished,NAN,Northern Hills,NAN,1 Covered,2,NAN,NAN,Poss. by Dec '26
4,4,"1 BHK Flat for Sale in AV Pride, Nalasopara ...",1,others,33 Lac,0.33,9116.0,362 sqft,362.0,NAN,NaN,New Property,Unfurnished,NAN,AV Pride,NAN,NAN,2,NAN,NAN,Poss. by Dec '28

# **Furnishing**

In [1704]:
df['Furnishing'].value_counts()

Furnishing
Unfurnished       852
Semi-Furnished    447
Furnished         193
NAN                 8
Name: count, dtype: int64

In [1705]:
def fur(value):
    if value == 'NAN':
        return np.nan
    else:
        return value

In [1706]:
df['Furnishing']=df['Furnishing'] = df['Furnishing'].apply(fur)

In [1707]:
df['Furnishing'].value_counts()

Furnishing
Unfurnished       852
Semi-Furnished    447
Furnished         193
Name: count, dtype: int64

# **Facing**

In [1708]:
df['facing'].value_counts()

facing
East            669
NAN             401
North - East    132
West            127
North            82
North - West     26
South            22
South -West      21
South - East     20
Name: count, dtype: int64

In [1709]:
def facin(value):
    if value == 'NAN':
        return np.nan
    else:
        return value

In [1710]:
df['facing'] = df['facing'].apply(facin)

In [1711]:
df['facing'].value_counts()

facing
East            669
North - East    132
West            127
North            82
North - West     26
South            22
South -West      21
South - East     20
Name: count, dtype: int64

# **Carparking**

In [1712]:
df['Car_Parking'].value_counts()

Car_Parking
NAN            749
1 Covered      359
1 Open         142
2 Covered      142
1 Covered,      43
3 Covered       26
2 Open          11
4 Covered       10
5 Covered        3
3 Covered,       2
2 Covered,       2
8 Open           1
5 Open           1
3 Open           1
100 Covered      1
100 Open         1
36 Covered       1
10 Open          1
15 Open          1
6 Covered        1
4 Open           1
102 Open         1
Name: count, dtype: int64

In [1713]:
def car_park(value):
    if value == 'NAN':
       return 'May be not'
    else:
        return 'available'

In [1714]:
df['Car_Parking']=df['Car_Parking'].apply(car_park)

In [1715]:
df['Car_Parking'].value_counts()

Car_Parking
available     751
May be not    749
Name: count, dtype: int64

# **Bathroom**

In [1716]:
df['Bathroom'].value_counts()

Bathroom
2       791
3       307
1       243
4       104
5        34
6        12
NAN       5
7         1
10        1
8         1
> 10      1
Name: count, dtype: int64

In [1717]:
bathrm = ['1','2','3','4']
def bath(value):
    if value in bathrm:
        return value
    elif value == 'NAN':
        return np.nan
    else:
        return '4+'

In [1718]:
df['Bathroom']=df['Bathroom'].apply(bath)

In [1719]:
df['Bathroom'].value_counts()

Bathroom
2     791
3     307
1     243
4     104
4+     50
Name: count, dtype: int64

# **Balcony**

In [1720]:
df['Balcony'].value_counts()

Balcony
NAN    867
1      343
2      141
3      106
4       28
5       11
6        4
Name: count, dtype: int64

In [1721]:
balcony = ['1','2','3','4']
def balc(value):
    if value in balcony:
        return value
    elif value == 'NAN':
        return np.nan
    else:
        return '4+'

In [1722]:
df['Balcony'] = df['Balcony'].apply(balc)

In [1723]:
df['Balcony'].value_counts()

Balcony
1     343
2     141
3     106
4      28
4+     15
Name: count, dtype: int64

# **Overlooking**

In [1724]:
df['overlooking'].value_counts()

overlooking
NAN                             436
Main Road                       350
Garden/Park, Main Road          223
Garden/Park                     217
Garden/Park, Pool, Main Road    164
Garden/Park, Pool                43
Pool, Garden/Park, Main Road     29
Pool                             15
Pool, Main Road                   7
Main Road, Garden/Park            6
Pool, Garden/Park                 5
Main Road, Garden/Park, Pool      2
Garden/Park, Main Road, Pool      2
Pool, Main Road, Garden/Park      1
Name: count, dtype: int64

In [1725]:
def over(value):
    if value == 'NAN':
        return np.nan
    else:
        return value

In [1726]:
df['overlooking']=df['overlooking'].apply(over)

In [1727]:
df['overlooking'].value_counts()

overlooking
Main Road                       350
Garden/Park, Main Road          223
Garden/Park                     217
Garden/Park, Pool, Main Road    164
Garden/Park, Pool                43
Pool, Garden/Park, Main Road     29
Pool                             15
Pool, Main Road                   7
Main Road, Garden/Park            6
Pool, Garden/Park                 5
Main Road, Garden/Park, Pool      2
Garden/Park, Main Road, Pool      2
Pool, Main Road, Garden/Park      1
Name: count, dtype: int64

In [1728]:
df.isnull().sum()

Unnamed: 0              0
bhk                     0
BHK                     0
Sector                  0
price_sqft_price        0
price                   0
price_persqft           0
Carpet_Area             0
SuperArea               0
Status                  0
Floor                 185
Transaction             0
Furnishing              8
facing                401
Society                 0
Ownership               0
Car_Parking             0
Bathroom                5
Balcony               867
overlooking           436
Under_Construction      0
dtype: int64

# **Remove columns**

In [1729]:
df.drop(columns=['Status','Transaction','Society','Ownership','Under_Construction','price_sqft_price','bhk','Carpet_Area','Unnamed: 0'], axis=1, inplace=True)

In [1730]:
df.head()

,BHK,Sector,price,price_persqft,SuperArea,Floor,Furnishing,facing,Car_Parking,Bathroom,Balcony,overlooking
0,3,Wadala,4.35,39013.0,1115.0,NaN,Unfurnished,NaN,May be not,3,NaN,NaN
1,1,others,0.67,16792.0,399.0,NaN,Unfurnished,NaN,May be not,2,NaN,NaN
2,2,Kandivali,2.25,20872.0,1078.0,NaN,Unfurnished,NaN,available,2,NaN,NaN
3,2,others,1.80,28892.0,623.0,NaN,Unfurnished,NaN,available,2,NaN,NaN
4,1,others,0.33,9116.0,362.0,NaN,Unfurnished,NaN,May be not,2,NaN,NaN

In [1731]:
df['city'] = 'Mumbai'

In [1732]:
df.head()

,BHK,Sector,price,price_persqft,SuperArea,Floor,Furnishing,facing,Car_Parking,Bathroom,Balcony,overlooking,city
0,3,Wadala,4.35,39013.0,1115.0,NaN,Unfurnished,NaN,May be not,3,NaN,NaN,Mumbai
1,1,others,0.67,16792.0,399.0,NaN,Unfurnished,NaN,May be not,2,NaN,NaN,Mumbai
2,2,Kandivali,2.25,20872.0,1078.0,NaN,Unfurnished,NaN,available,2,NaN,NaN,Mumbai
3,2,others,1.80,28892.0,623.0,NaN,Unfurnished,NaN,available,2,NaN,NaN,Mumbai
4,1,others,0.33,9116.0,362.0,NaN,Unfurnished,NaN,May be not,2,NaN,NaN,Mumbai

In [1733]:
df.to_csv('mumbai_cleaned.csv',index=False)