## **Feature Engineering**

In [41]:
import pandas as pd
import numpy as np

In [42]:
df1 = pd.read_csv('../MB_DataCleaning/bangalore/banglore_cleaned.csv')
df2 = pd.read_csv('../MB_DataCleaning/chennai/chennai_cleaned.csv')
df3 = pd.read_csv('../MB_DataCleaning/gurgaon/gurgaon_cleaned.csv')
df4 = pd.read_csv('../MB_DataCleaning/hydrabad/hydrabad_cleaned.csv')
df5 = pd.read_csv('../MB_DataCleaning/mumbai/mumbai_cleaned.csv')

In [43]:
frames = [df1, df2, df3, df4, df5]
df = pd.concat(frames)

In [44]:
df.shape

(7440, 13)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7440 entries, 0 to 1499
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BHK            7440 non-null   object
 1   sector         7440 non-null   object
 2   price          7440 non-null   float64
 3   price_persqft  7206 non-null   float64
 4   SuperArea      7395 non-null   float64
 5   floor          6989 non-null   object
 6   Furnishing     7363 non-null   object
 7   facing         4856 non-null   object
 8   Car_Parking    6586 non-null   object
 9   Bathroom       7400 non-null   object
 10  Balcony        5467 non-null   object
 11  overlooking    4315 non-null   object
 12  city           7440 non-null   object
dtypes: float64(3), object(10)
memory usage: 813.8+ KB

In [46]:
df.isnull().sum()

BHK                 0
sector              0
price               0
price_persqft     234
SuperArea          45
floor             451
Furnishing         77
facing           2584
Car_Parking       854
Bathroom           40
Balcony          1973
overlooking      3125
city                0
dtype: int64

In [47]:
df['overlooking'].value_counts()

overlooking
Main Road                       1438
Garden/Park                      885
Garden/Park, Main Road           812
Garden/Park, Pool, Main Road     618
Garden/Park, Pool                241
Pool, Garden/Park, Main Road     136
Pool                              56
Pool, Garden/Park                 41
Pool, Main Road                   29
Main Road, Garden/Park            28
Main Road, Garden/Park, Pool      20
Pool, Main Road, Garden/Park       4
Garden/Park, Main Road, Pool       4
Main Road, Pool                    2
Main Road, Pool, Garden/Park       1
Name: count, dtype: int64

In [48]:
df.reset_index(inplace=True)

In [49]:
df.head()

,index,BHK,sector,price,price_persqft,SuperArea,floor,Furnishing,facing,Car_Parking,Bathroom,Balcony,overlooking,city
0,0,3,Panathur,2.25,13966.0,1611.0,10+,Unfurnished,East,Available,2,1,Garden/Park,Bangalore
1,1,3,Panathur,2.13,12909.0,1650.0,10+,Unfurnished,East,Available,3,2,Garden/Park,Bangalore
2,2,3,Thanisandra,1.37,9648.0,1420.0,8,Unfurnished,North - East,Available,2,1,"Garden/Park, Pool",Bangalore
3,3,3,Panathur,1.62,11000.0,1473.0,5,Unfurnished,North - East,Available,2,1,"Garden/Park, Main Road",Bangalore
4,4,4,Whitefield,3.93,15023.0,2616.0,10+,Unfurnished,East,Available,3,2,Garden/Park,Bangalore

### **Overlooking : Category correction**

In [50]:
df['overlooking']=df['overlooking'].str.replace('Pool, Garden/Park, Main Road','Garden/Park, Pool, Main Road')
df['overlooking']=df['overlooking'].str.replace('Main Road, Garden/Park, Pool','Garden/Park, Pool, Main Road')
df['overlooking']=df['overlooking'].str.replace('Pool, Main Road, Garden/Park','Garden/Park, Pool, Main Road')
df['overlooking']=df['overlooking'].str.replace('Garden/Park, Main Road, Pool','Garden/Park, Pool, Main Road')
df['overlooking']=df['overlooking'].str.replace('Main Road, Pool, Garden/Park','Garden/Park, Pool, Main Road')
df['overlooking']=df['overlooking'].str.replace('Pool, Main Road','Main Road, Pool')
df['overlooking']=df['overlooking'].str.replace('Pool, Garden/Park','Garden/Park, Pool')
df['overlooking']=df['overlooking'].str.replace('Main Road, Garden/Park','Garden/Park, Main Road')

In [51]:
df['overlooking'].value_counts()

overlooking
Main Road                       1438
Garden/Park                      885
Garden/Park, Main Road           840
Garden/Park, Main Road, Pool     783
Garden/Park, Pool                282
Pool                              56
Main Road, Pool                   31
Name: count, dtype: int64

In [52]:
df['Car_Parking'].value_counts()

Car_Parking
May be not     3539
available      1787
Available       614
1 Covered       208
2 Covered       189
1 Covered,       86
2 Covered,       66
1 Open           43
3 Covered        25
3 Covered,       12
2 Open            4
8 Covered         2
4 Covered         2
606 Covered       1
6 Covered,        1
100 Covered       1
20 Covered        1
4 Covered,        1
7 Covered         1
9 Covered         1
11 Covered        1
104 Covered       1
Name: count, dtype: int64

In [53]:
def carparking(car):
    if car == 'available':
        return 'available'
    elif car == 'Available':
        return 'available'
    elif car == 'May be not':
        return 'not sure'
    elif car == 'NaN':
        return np.nan
    else:
        return 'available'

In [54]:
df['Car_Parking'] = df['Car_Parking'].apply(carparking)

In [55]:
df['Car_Parking'].value_counts()

Car_Parking
available    3901
not sure     3539
Name: count, dtype: int64

In [56]:
df['city'].value_counts()

city
chennai      1500
Gurgaon      1500
Hydrabad     1500
Mumbai       1500
Bangalore    1440
Name: count, dtype: int64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7440 entries, 0 to 7439
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          7440 non-null   int64
 1   BHK            7440 non-null   object
 2   sector         7440 non-null   object
 3   price          7440 non-null   float64
 4   price_persqft  7206 non-null   float64
 5   SuperArea      7395 non-null   float64
 6   floor          6989 non-null   object
 7   Furnishing     7363 non-null   object
 8   facing         4856 non-null   object
 9   Car_Parking    7440 non-null   object
 10  Bathroom       7400 non-null   object
 11  Balcony        5467 non-null   object
 12  overlooking    4315 non-null   object
 13  city           7440 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 813.9+ KB

In [58]:
df.to_csv('all_cities_cleaned.csv', index=False)