In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('../MB_DataCleaning/banglore/banglore_cleaned.csv')
df2 = pd.read_csv('../MB_DataCleaning/chennai/chennai_cleaned.csv')
df3 = pd.read_csv('../MB_DataCleaning/gurgaon/gurgaon_cleaned.csv')
df4 = pd.read_csv('../MB_DataCleaning/hydrabad/hydrabad_cleaned.csv')
df5 = pd.read_csv('../MB_DataCleaning/mumbai/mumbai_cleaned.csv')

In [3]:
frames = [df1, df2, df3, df4, df5]
df = pd.concat(frames)

In [5]:
df.shape

(7440, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7440 entries, 0 to 1499
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BHK            7440 non-null   object
 1   sector         7440 non-null   object
 2   price          7440 non-null   float64
 3   price_persqft  7206 non-null   float64
 4   SuperArea      7395 non-null   float64
 5   floor          6989 non-null   object
 6   Furnishing     7363 non-null   object
 7   facing         4856 non-null   object
 8   Car_Parking    6586 non-null   object
 9   Bathroom       7400 non-null   object
 10  Balcony        5467 non-null   object
 11  overlooking    4315 non-null   object
 12  city           7440 non-null   object
dtypes: float64(3), object(10)
memory usage: 813.8+ KB

In [7]:
df.isnull().sum()

BHK                 0
sector              0
price               0
price_persqft     234
SuperArea          45
floor             451
Furnishing         77
facing           2584
Car_Parking       854
Bathroom           40
Balcony          1973
overlooking      3125
city                0
dtype: int64

In [8]:
df['overlooking'].value_counts()

overlooking
Main Road                       1438
Garden/Park                      885
Garden/Park, Main Road           812
Garden/Park, Pool, Main Road     618
Garden/Park, Pool                241
Pool, Garden/Park, Main Road     136
Pool                              56
Pool, Garden/Park                 41
Pool, Main Road                   29
Main Road, Garden/Park            28
Main Road, Garden/Park, Pool      20
Pool, Main Road, Garden/Park       4
Garden/Park, Main Road, Pool       4
Main Road, Pool                    2
Main Road, Pool, Garden/Park       1
Name: count, dtype: int64

In [9]:
df.reset_index(inplace=True)

In [10]:
df.head()

,index,BHK,sector,price,price_persqft,SuperArea,floor,Furnishing,facing,Car_Parking,Bathroom,Balcony,overlooking,city
0,0,3,Panathur,2.25,13966.0,1611.0,10+,Unfurnished,East,Available,2,1,Garden/Park,Banglore
1,1,3,Panathur,2.13,12909.0,1650.0,10+,Unfurnished,East,Available,3,2,Garden/Park,Banglore
2,2,3,Thanisandra,1.37,9648.0,1420.0,8,Unfurnished,North - East,Available,2,1,"Garden/Park, Pool",Banglore
3,3,3,Panathur,1.62,11000.0,1473.0,5,Unfurnished,North - East,Available,2,1,"Garden/Park, Main Road",Banglore
4,4,4,Whitefield,3.93,15023.0,2616.0,10+,Unfurnished,East,Available,3,2,Garden/Park,Banglore